mainmenu "Android Device Configuration"

choice
	prompt "Device Type"
	default TABLET

config TABLET
	bool "Tablet"

config TV
	bool "TV"
	help
	  Configure the build for Android TV device.

	  This requires the LeanbackLauncher from fugu device available here:
	  https://dl.google.com/dl/android/aosp/google-fugu-3096662-f2671c41.tgz

endchoice

menu "Dalvik/ART Heap Configuration"
# Default values are targeted towards 1G RAM

config DALVIK_VM_HEAPSIZE
	int "VM Heap Size (MB)"
	default 256
	range 32 768
	help
	  Typically this is sized to about 1/4 the total RAM size.

config DALVIK_VM_HEAPSTARTSIZE
	int "VM Heap Start Size (MB)"
	default 8
	range 5 32

config DALVIK_VM_HEAPMAXFREE
	int "VM Heap Max Free (MB)"
	default 8
	range 2 8
	help
	  This is the target free space after growing/shrinking the heap. It
	  influences the frequency of garbage collection. Smaller values mean
	  more frequent GC.

config DALVIK_VM_HEAPGROWTHLIMIT
	int "VM Heap Growth Limit (MB)"
	default 96
	range 96 256
	help
	  Typically this is less than half the heap size.

endmenu

menu "Image Configuration"

config BOARD_SYSTEMIMAGE_FILE_SYSTEM_TYPE
	string
	default "ext4" if SYSTEMIMAGE_FS_EXT4
	default "squashfs" if SYSTEMIMAGE_FS_SQUASHFS

choice
	prompt "System Image Filesystem Type"
	default SYSTEMIMAGE_FS_EXT4
	help
	  BOARD_SYSTEMIMAGE_FILE_SYSTEM_TYPE

config SYSTEMIMAGE_FS_EXT4
	bool "ext4"

config SYSTEMIMAGE_FS_SQUASHFS
	bool "squashfs"

endchoice

config BOARD_SYSTEMIMAGE_PARTITION_SIZE
	int "System Image Size"
	default 734003200
	help
	  BOARD_SYSTEMIMAGE_PARTITION_SIZE

config TARGET_USERIMAGES_SPARSE_EXT_DISABLED
	bool "Disable sparse filesystem images"
	help
	  TARGET_USERIMAGES_SPARSE_EXT_DISABLED

config DEX_PREOPT
	bool "Enable .dex Pre-Optimations at build time"

endmenu

menuconfig KERNEL
	bool "Kernel"

if KERNEL

config KERNEL_PATH
	string "Kernel Image path"
	default "kernel"

config BOARD_KERNEL_CMDLINE
	string "Kernel Command Line"
	help
	  Enter the kernel command line to be set in the bootimage.

config BOARD_KERNEL_BASE
	hex "Kernel Base Address"
	help
	  Base address to load the kernel

config RAMDISK_OFFSET
	hex "Ramdisk offset"
	help
	  Offset from Kernel Base Address to load the ramdisk

endif

config TARGET_NO_KERNEL
	bool
	default !KERNEL

menu "Device Support"

source "graphics/Kconfig"
source "wifi/Kconfig"
source "ethernet/Kconfig"
source "sensor/Kconfig"

endmenu
