mainmenu "Android Device Configuration"

menu "Target Architecture"

choice
	prompt "Target Arch"
	default ARCH_ARM64

config ARCH_ARM
	bool "arm"

config ARCH_ARM64
	bool "arm64"
	select 64_BIT

config ARCH_X86_64
	bool "x86_64"
	select 64_BIT

endchoice

config 64_BIT
	bool

config HAS_ARM_NEON
	bool "Enable ARM Neon Support"
	depends on ARCH_ARM
	default y

config HAS_2ND_ARCH
	bool "Include 2nd Arch" if 64_BIT
	default y

config TARGET_ARCH
	string
	default "arm" if ARCH_ARM
	default "arm64" if ARCH_ARM64
	default "x86_64" if ARCH_X86_64

config TARGET_ARCH_VARIANT
	string
	default "armv7-a" if ARCH_ARM && !HAS_ARM_NEON
	default "armv7-a-neon" if HAS_ARM_NEON
	default "armv8-a" if ARCH_ARM64
	default "x86_64" if ARCH_X86_64

config TARGET_CPU_VARIANT
	string
	default "generic"

config TARGET_CPU_ABI
	string
	default "armeabi-v7a" if ARCH_ARM
	default "arm64-v8a" if ARCH_ARM64
	default "x86_64" if ARCH_X86_64

config TARGET_CPU_ABI2
	string
	default "armeabi" if ARCH_ARM

if HAS_2ND_ARCH

config TARGET_2ND_ARCH
	string
	default "arm" if ARCH_ARM64
	default "x86" if ARCH_X86_64

config TARGET_2ND_ARCH_VARIANT
	string
	default "armv7-a-neon" if ARCH_ARM64
	default "x86_64" if ARCH_X86_64

config TARGET_2ND_CPU_VARIANT
	string
	default "cortex-a15" if ARCH_ARM64

config TARGET_2ND_CPU_ABI
	string
	default "armeabi-v7a" if ARCH_ARM64
	default "x86" if ARCH_X86_64

config TARGET_2ND_CPU_ABI2
	string
	default "armeabi" if ARCH_ARM64

endif

config PRODUCT_DEVICE
	string "Target Product Device"
	help
	  This is the device name used for the build output. Set it only
	  to have a custom non-shared build.

config TARGET_USES_64_BIT_BINDER
	def_bool ARCH_ARM64 || ARCH_X86_64

choice
	prompt "Device Type"
	default TABLET

config TABLET
	bool "Tablet"

config TV
	bool "TV"
	help
	  Configure the build for Android TV device.

	  This requires the LeanbackLauncher from fugu device available here:
	  https://dl.google.com/dl/android/aosp/google-fugu-3096662-f2671c41.tgz

endchoice
endmenu

config TREBLE
	bool "Enable Treble-ized build"
	help
	  When enabled, this enforces the vendor/system split. Typically a separate
	  vendor image should also be enabled with this, but that isn't strictly
	  required.

menu "Dalvik/ART Heap Configuration"
# Default values are targeted towards 1G RAM

config DALVIK_VM_HEAPSIZE
	int "VM Heap Size (MB)"
	default 256
	range 32 768
	help
	  Typically this is sized to about 1/4 the total RAM size.

config DALVIK_VM_HEAPSTARTSIZE
	int "VM Heap Start Size (MB)"
	default 8
	range 5 32

config DALVIK_VM_HEAPMAXFREE
	int "VM Heap Max Free (MB)"
	default 8
	range 2 8
	help
	  This is the target free space after growing/shrinking the heap. It
	  influences the frequency of garbage collection. Smaller values mean
	  more frequent GC.

config DALVIK_VM_HEAPGROWTHLIMIT
	int "VM Heap Growth Limit (MB)"
	default 96
	range 96 256
	help
	  Typically this is less than half the heap size.

config LOWMEM_CONFIG
	bool "Enable Lowmem Configuration"
	help
	  Enables some of the reccomended low-memory options for devices
	  with 1GB or less RAM.

endmenu

menu "Image Configuration"

config BOARD_SYSTEMIMAGE_FILE_SYSTEM_TYPE
	string
	default "ext4" if SYSTEMIMAGE_FS_EXT4
	default "squashfs" if SYSTEMIMAGE_FS_SQUASHFS

choice
	prompt "System Image Filesystem Type"
	default SYSTEMIMAGE_FS_EXT4
	help
	  BOARD_SYSTEMIMAGE_FILE_SYSTEM_TYPE

config SYSTEMIMAGE_FS_EXT4
	bool "ext4"

config SYSTEMIMAGE_FS_SQUASHFS
	bool "squashfs"

endchoice

config BOARD_SYSTEMIMAGE_PARTITION_SIZE
	int "System Image Size"
	default 734003200
	help
	  BOARD_SYSTEMIMAGE_PARTITION_SIZE

config SEPARATE_VENDOR_IMAGE
	bool "Build separate vendor image file"

config TARGET_COPY_OUT_VENDOR
	string
	default "vendor"
	depends on SEPARATE_VENDOR_IMAGE

if SEPARATE_VENDOR_IMAGE

config BOARD_VENDORIMAGE_FILE_SYSTEM_TYPE
	string
	default "ext4" if VENDORIMAGE_FS_EXT4
	default "squashfs" if VENDORIMAGE_FS_SQUASHFS

choice
	prompt "Vendor Image Filesystem Type"
	default VENDORIMAGE_FS_EXT4
	help
	  BOARD_VENDORIMAGE_FILE_SYSTEM_TYPE

config VENDORIMAGE_FS_EXT4
	bool "ext4"

config VENDORIMAGE_FS_SQUASHFS
	bool "squashfs"

endchoice

config BOARD_VENDORIMAGE_PARTITION_SIZE
	int "Vendor Image Size"
	default 200000000
	help
	  BOARD_VENDORIMAGE_PARTITION_SIZE

endif

config BOARD_USERDATAIMAGE_PARTITION_SIZE
	int "Userdata Image Size"
	default 576716800
	help
	  BOARD_USERDATAIMAGE_PARTITION_SIZE

config TARGET_USERIMAGES_SPARSE_EXT_DISABLED
	bool "Disable sparse filesystem images"
	help
	  TARGET_USERIMAGES_SPARSE_EXT_DISABLED

config DEX_PREOPT
	bool "Enable .dex Pre-Optimations at build time"

endmenu

menuconfig KERNEL
	bool "Kernel"

if KERNEL

config KERNEL_PATH
	string "Kernel Image path"
	default "kernel"

config BOARD_KERNEL_CMDLINE
	string "Kernel Command Line"
	help
	  Enter the kernel command line to be set in the bootimage.

config BOARD_KERNEL_BASE
	hex "Kernel Base Address"
	help
	  Base address to load the kernel

config RAMDISK_OFFSET
	hex "Ramdisk offset"
	help
	  Offset from Kernel Base Address to load the ramdisk

endif

config TARGET_NO_KERNEL
	bool
	default !KERNEL

menu "Device Support"

source "firmware/Kconfig"
source "graphics/Kconfig"
source "bluetooth/Kconfig"
source "wifi/Kconfig"
source "ethernet/Kconfig"
source "sensor/Kconfig"

endmenu
