CONFIG_PRODUCT_DEVICE="db410c"
CONFIG_DALVIK_VM_HEAPSIZE=32
CONFIG_BOARD_SYSTEMIMAGE_PARTITION_SIZE=880803840
CONFIG_KERNEL=y
CONFIG_KERNEL_PATH="device/linaro/generic-kernels/android-db410c-qcomlt-4.9.gz-dtb"
CONFIG_BOARD_KERNEL_CMDLINE="androidboot.selinux=permissive firmware_class.path=/system/vendor/firmware/"
CONFIG_BOARD_KERNEL_BASE=0x80008000
CONFIG_RAMDISK_OFFSET=0x0
