CONFIG_ARCH_ARM=y
CONFIG_PRODUCT_DEVICE="db410c"
CONFIG_DALVIK_VM_HEAPSIZE=32
CONFIG_LOWMEM_CONFIG=y
CONFIG_BOARD_SYSTEMIMAGE_PARTITION_SIZE=1288491008
CONFIG_BOARD_USERDATAIMAGE_PARTITION_SIZE=5653544960
CONFIG_KERNEL=y
CONFIG_KERNEL_PATH="device/linaro/generic-kernels/db410c-qcomlt-4.14.gz-dtb"
CONFIG_BOARD_KERNEL_CMDLINE="androidboot.selinux=permissive firmware_class.path=/system/vendor/firmware/"
CONFIG_BOARD_KERNEL_BASE=0x80008000
CONFIG_RAMDISK_OFFSET=0x0
CONFIG_FIRMWARE=y
CONFIG_FIRMWARE_FILES="a300_pfp.fw,a300_pm4.fw"
CONFIG_DISPLAY_DPI=160
CONFIG_BOARD_WLAN_DEVICE="qcwcn"
