CONFIG_BOARD_SYSTEMIMAGE_PARTITION_SIZE=800000000
CONFIG_WIFI=y
CONFIG_QCOM_WIFI=y
CONFIG_ETHERNET=y
CONFIG_SENSOR=y
CONFIG_BOARD_USES_DRM_HWCOMPOSER=y
CONFIG_BOARD_GPU_DRIVERS="freedreno virgl swrast vc4"
