CONFIG_ARCH_ARM=y
CONFIG_BOARD_SYSTEMIMAGE_PARTITION_SIZE=880803840
CONFIG_KERNEL=y
CONFIG_KERNEL_PATH="zImage.dtb"
CONFIG_BOARD_KERNEL_CMDLINE="console=ttyHSL0,115200,n8 user_debug=31 console=ttyMSM0,115200,n8 androidboot.selinux=permissive"
CONFIG_BOARD_KERNEL_BASE=0x80200000
CONFIG_RAMDISK_OFFSET=0x02000000
CONFIG_QCOM_FLO_WIFI=y
