# CONFIG_HAS_2ND_ARCH is not set
CONFIG_BOARD_SYSTEMIMAGE_PARTITION_SIZE=800000000
CONFIG_BOARD_GPU_DRIVERS="freedreno virgl vc4"
CONFIG_BOARD_HAVE_BLUETOOTH_LINUX=y
CONFIG_QCOM_WIFI=y
CONFIG_SENSOR=y
