# CONFIG_HAS_2ND_ARCH is not set
CONFIG_PRODUCT_DEVICE="linaro_arm64_only"
CONFIG_FIRMWARE=y
CONFIG_FIRMWARE_ALL=y
CONFIG_BOARD_GPU_DRIVERS="freedreno virgl vc4"
CONFIG_BOARD_HAVE_BLUETOOTH_LINUX=y
CONFIG_QCOM_WIFI=y
CONFIG_SENSOR=y
