# wifi connection service
type conn_init, domain;
type conn_init_exec, exec_type, file_type;

init_daemon_domain(conn_init)

# Runs start_qcom_wifi.sh
allow conn_init shell_exec:file rx_file_perms;
allow conn_init conn_init_exec:file rx_file_perms;

